@import "variable.scss";

@keyframes fadeIn{
	0%{
		opacity: 0;
        transform: translateY(40px);
	}
	100%{
		opacity: 1;
        transform: translateY(0px);
	}
}

.table {
    color: #34495e;
    font-family: demilight;
    text-align: center;
    width: 65%;
    background-color: white;
    border-radius: 1rem;
    animation: fadeIn 0.5s linear;

    .content {
        margin-left: 13vh;
        margin-right: 13vh;
        line-height: 6vh;

        .young-me {
            margin: 0 auto;
            margin-top: 5vh;
            width: 90%;

            img {
                border-width: 16px;
                border-radius: 20px;
            }
        }

        .bio {
            line-height: 5vh;
            p {
                text-indent: -2em;
            }
        }

        h3 {
            text-align: center;
            border-bottom: 3px solid $cool-blue;
        }

        p {
            text-align: left;
            overflow-wrap: break-word;

        }

        a {
            color: $link-color;
        }

        em {
            margin-left: 2em;
            font-weight: bold;
            margin-right: 1em;
        }

        span {
            text-align: left;
        }
    }
}


@media screen and (max-width: $tablet-size) {
    .table {
        width: auto;

        .content {
            margin-left: 5vh;
            margin-right: 5vh;

            .young-me {
                margin: 0 auto;
                max-width: 80%;
                padding-top: 5vh;
                
                img {
                    
                }
            }
        }
    }
}