@import "variable.scss";

@keyframes fadeIn{
	0%{
		opacity: 0;
        transform: translateY(80px);
	}
	100%{
		opacity: 1;
        transform: translateY(0px);
	}
}

.content {
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    list-style-type: none;
    margin-bottom: 7%;

    .list {
        animation: fadeIn 0.6s linear;
        background-color: white;
        border-radius: 1rem;
        margin-top: 15px;

        .post {
            padding-top: 1em;
            padding-bottom: 1em;
            margin: 0 auto;
            max-width: 80%;
            > p {
                color: $base-font-color;
            }
        }
    }

}