
@import "variable.scss";


button {
    position: fixed;
    height: 60px;
    width: 60px;
    top: 80%;
    right: 5%;
    z-index: 101;
    border-radius: 10vh;
    border: none;
    // background: linear-gradient(-130deg , #63bbac, #aad963);
    background-image: linear-gradient(#00AFAC,#109978);
    box-shadow: none;

    .arrow {
        font-size: 40px;
        color: snow;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding-bottom: 3px;
    }
}

button:hover {
    cursor: pointer;
}