@import "variable.scss";

h1 {
    font-size: 2em;
    line-height: 6vh;
}

h2 {
    font-size: 1.6em;
    border-bottom: 3px solid $cool-blue
}

h3 {
    font-size: 1.3em;
}

.all {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 80%;
    max-width: 1140px;
}

.content {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 0 rgb(1 1 1 / 5%);
    padding: 2rem;
    line-height: 5vh;

    .post {
        color: black;
        font-family: demilight;

        a {
            color: $link-color;
        }

        .data {
            display: flex;
            align-items: center;
        }
    }

    .sns {
        margin-top: 1em;
        text-align: center;
    }
}


@media screen and (max-width: $tablet-size) {
    h2 {
        font-size: 2em;
    }
    
    h3 {
        font-size: 1.5em;
    }

    .all {
        width: 100%;
    }

    ol {
        li {
            word-break: break-all;
            color: black;
            font-size: inherit;
        }
    }
    
    li {
        word-break: break-all;
        color: black;
        font-size: inherit;
    }
}