@import "variable.scss";

.prev-next {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 10vh;

    .prev {
        width: 48%;
        text-align: center;
        margin: auto;
        text-decoration: none;
        display: flex;
        img {
            width: 10%;
        }
        p {
            padding-left: 12%;
            color: black;
        }
    }
    .prev:hover{
        opacity: 0.5;
    }
    .next {
        width: 48%;
        text-align: center;
        margin: auto;
        text-decoration: none;
        display: flex;
        img {
            width: 10%;
        }
        p {
            padding-right: 12%;
            color: black;
        }
    }
    .next:hover{
        opacity: 0.5;
    }
}