@import "variable.scss";


.profile-table {
    transform: translateY(15vh);
    background: transparent;
    backdrop-filter: blur(20px);
    border: solid 1px snow;
    border-radius: 3px;
    box-shadow: 3px 5px 8px 4px #00AFAC;

    .content {
        font-family: phenomena-regular;
        padding:3vh;
        max-width: 70vh;

        p {
            padding: 2vh;
            text-align: center;
            box-shadow: 0px 1px 1px 1px #00AFAC;
        }

        .bio {
            text-align: left;
            padding: 2vh;
        }
    }
}

@media screen and (max-width: $tablet-size) {
    .profile-table {
        width: 100%;
        backdrop-filter: none;
    }
}