@import "variable.scss";

.right {
    
    transform: translateY(15vh);
    display: flex;
    flex-direction: column;

    .myname {
      font-family: 'M PLUS Rounded 1c';
      border-right: .1em solid transparent;
      font-size: 10vh;
      // letter-spacing: 0.1em;
      text-align: center;
      overflow: hidden;
      margin: auto;
      white-space: nowrap;
      animation: typing-name 2.5s steps(15), blink-name 0.5s step-end 5;
      color: snow;
      text-shadow: 7px 8px 3px #141414; 
    }
    .myjob {
      font-family: 'M PLUS Rounded 1c';
      overflow: hidden;  
      font-size: 2vh;
      white-space: pre;
      color: snow;
      text-shadow: 0px 3px 3px #00AFAC; 
      
      animation: typing-desc 3s steps(40),blink-desc 0.4s step-end;
      animation-delay: 2.7s;
      .desc {
        letter-spacing: 0.1em;
        border-right: .1em solid transparent;
        margin-top: 0;
        visibility: hidden;
        animation: 0s linear 2.7s forwards delayedShow, blink-name 0.4s step-end infinite;;
      }
    }
}

@media screen and (max-width: $tablet-size) and (orientation:portrait) {
    .right {
    font-family: demilight;
    margin-top: 5vh;
    text-align: center;
        .myname {
            transform: scale(1.2);
            font-family: phenomena-bold;
            width: 80%;
            white-space: nowrap;
            font-size: 5vh;
            letter-spacing: 0.05em;
            // text-shadow: none; 
        }

        .blur {
          filter: blur(30px) brightness(1.5);
        }

        .blur::before {
          filter: blur(30px) brightness(1.5);
        }

        .blur::after {
          filter: blur(30px) brightness(2);
        }

        .myjob {
          font-family: phenomena-regular;
          transform: scale(1.2);
            text-align: center;
            white-space: pre-line;
            animation: none;
            // text-shadow: none; 
            .desc {
            // max-height: 1vh;
            visibility: visible;
            animation: none;
            }
        }

        .links {
          box-shadow: 3px 4px 8px 2px #00AFAC;
          .link-box {
            span {
              font-family: phenomena-bold !important;
            }
          }
        }
    }
}
