
// 色
$dark: #08090e;

$base-color: rgb(253, 250, 247);

$base-font-color: rgb(143, 143, 143);

$cool-blue: rgb(218, 226, 248);

$cool-pink: rgb(214, 164, 164);

$link-color: #337ab7;

$cool-green: rgb(18 255 170);

$cool-pinker: rgb(241 167 231 / 68%);

$cool-water: rgb(18 231 255 / 71%);

$phone-size: 640px;

$tablet-size: 1194px;



@media screen and (max-width: $tablet-size) {
    .table {
        width: auto;

        .content {
            margin-left: 5vh;
            margin-right: 5vh;

            .young-me {
                margin: 0 auto;
                max-width: 80%;
                padding-top: 5vh;
                
                img {
                    
                }
            }
        }
    }
}