
// 色
$dark: #08090e;

$base-color: rgb(253, 250, 247);

$base-font-color: rgb(143, 143, 143);

$cool-blue: rgb(218, 226, 248);

$cool-pink: rgb(214, 164, 164);

$phone-size: 640px;

$tablet-size: 1194px;

$link-color: #337ab7;

