
@import "../../styles/variable.scss";

.tech {
    // background: linear-gradient(to right, #1CD8D2, #93EDC7);
    background: rgba(18,255,182,.71);;
    width: 7vh;
    text-align: center;
    border-radius: 5px;
    margin-right: 3vh;
    p {
        color: white !important;
        margin: 0;
    }
    
}

.poem {
    // background: linear-gradient(to right, #DE6262, #FFB88C);
    background: rgba(241,167,231,.68);
    width: 7vh;
    text-align: center;
    border-radius: 5px;
    margin-right: 3vh;
    p {
        color: white !important;
        margin: 0;
    }
}